<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" [src]="imgSrc">
  </div>
  <p>
    <button mat-raised-button color="accent" (click)="changePermission()">Toggle</button>
  </p>
  <p *ngIf="allowChangeTitle">
    <mat-form-field class="">
      <input matInput placeholder="Title" [(ngModel)]="title">
    </mat-form-field>
  </p>

  <ul>
    <li *ngFor="let p of posts">{{p}}</li>
  </ul>
  <p>
    {{dob | date}}
  </p>
  <p>
    <button mat-raised-button color="accent" (click)="changeImage()">Change me</button>
  </p>
</div>

<p>
  <ptt-mf-form></ptt-mf-form>
</p>
<br>

<input type="text" #input (change)="search(input.value)"><br>
<h3>Result:</h3>
<div *ngFor="let account of accounts">
  {{ account.login }}
</div>

